{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load account %}
{% load allauth %}
{% block head_title %}
    {% trans "Account Confirmed" %}
{% endblock head_title %}
{% block content %}
    {% autoescape off %}
        <div style="background-color: #f8f9fa;
                    padding: 20px;
                    border-radius: 5px;
                    font-family: Arial, sans-serif">
            {% blocktrans %}
            <h1>Your Wilde Backyard account has been activated!</h1>
            You may close this window and begin exploring the wildlife in your backyard!
            {% endblocktrans %}
        </div>
    {% endautoescape %}
{% endblock content %}
